# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/

# Python
__pycache__/
.pytest_cache/
.venv/
venv/
*.pyc

# Node
node_modules/
dist/
coverage/

# Env
.env
.env.*

# Logs
*.log

# Build
build/
tmp/
.cache/
